/* Base Mobile Devices */

html {
  /* 1.2 ratio modular scale: https://www.modularscale.com/?22&px&1.2 */
  font-size: 1em; /* 22px */
  line-height: 1.2em; /* 26.4px / ~ 120% */
  text-rendering: optimizeLegibility;
}

/* Navigation */

.navigation-main {
  background-color: #5E84D4;
  position: absolute;
  width: 100%;
  top: 10em;
  left: 0;
}

.navigation-main li {
  float:left;
  width: 33.3%;
}
  
.navigation-main a {
  display: block;
  text-align: center;
  padding: 1em 0;
  text-decoration: none;
}
  
.navigation-main a:hover {
  background-color: #A2B3D8;
}
  
#currentsite {
  background-color: #0D50DF ;
}

/* Top Branding */

.branding-container {
  height: 10em;
  padding-bottom: 3em;
}

#logo {
  display: block;
  margin: auto;
  width: 10em;
}

/* Homepage */

.splide {
  margin: auto;
  margin-top: 0.5em;
  margin-bottom: 1em;
}

.info h1{
  margin: 1em;
  padding: 1em;
  text-align: center;
}

.clickable {
  margin: 1em;
}

#news h1 {
  background-color: palegoldenrod;
  text-align: center;
  padding: 2em;
  margin-bottom: 1em;
  color: black;
  font-size: 1.44em;
}

#news h1:hover {
  background-color: grey;
}

#events h1 {
  background-color:salmon;
  text-align: center;
  padding: 2em;
  margin-bottom: 1em;
  color: black;
  font-size: 1.44em;
}

#events h1:hover {
  background-color: grey;
}

#videos h1 {
  background-color:springgreen;
  text-align: center;
  padding: 2em;
  margin-bottom: 1em;
  color: black;
  font-size: 1.44em;
}

#videos h1:hover {
  background-color: grey;
}

.signup {
  clear:both;
  background-color: teal;
  padding:1em;
  margin: 1em;
}

#signup-text {
  text-align: center;
  display: block;
  width: 100%;
  float: left;
}

#signup-text h1 {
  padding: 0.6em 0 0.6em 0;
  color:white;
  font-size: 1.44em;
}

button {
  width: 100%;
  height: 3em;
  background-color: #5E84D4;
  border: none;
  cursor: pointer;
}

footer {
  background-color: #5E84D4;
  margin-top: 2em;
  padding: 1.5em;
  text-align: center;
}

footer a {
  color:white;
  text-decoration: none;
  padding: 1em;
}

footer a:hover {
  background-color: grey;
}

/* About Page */

.history h3 {
  font-weight: bold;
}

.history  {
  text-align: center;
  padding: 2em 0;
}

.history p  {
  padding: 16px 18px;
}

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 16px;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 16px;
  font-weight: bold;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #ccc;
}

.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.panel h3 {
  font-weight: bold;
}

.panel p  {
  padding: 1em;
}

.panel {
  padding: 0 18px;
  background-color: #ccc;
  text-align: center;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.duJournal {
  height: 10em;
}

#duPoster {
  display: block;
  margin: auto;
  width: 18em;
  padding: 2em 0 1em 0;
}

.du-text {
  text-align: center;
  padding-bottom: 1em;
}

/*Contact Page*/

.contact_form_li {
  list-style: none;
}

form {
  text-align: center;
  width: 90%;
  margin: 0 auto;
}

#form-heading {
  font-size: 2.488em; /*~54.74px*/
  line-height: 2.986em; /*~65.7*/
  margin: 1em 0;
}

#form-p {
  font-size: 2.074em; /*~45.62px*/
  line-height: 2.488em; /*~54.74px*/
  padding: 0 0 1em 0;
}

#name, #email {
  font-size: 2.074em; /*~45.62px*/
  line-height: 2.488em; /*~54.74px*/
  width: 90%;
  padding: 2em 0;
  margin: 1.5em 0;
  border-color: #000613;
}

#submit {
  font-size: 2.074em; /*~45.62px*/
  line-height: 2.488em; /*~54.74px*/
  width: 70%;
  background-color: #5E84D4;
  color: #000613;
  border: none;
  margin: 2em;
}

/* Tablet View */

@media only screen and (min-width : 480px) {
   /* Homepage */

  .clickable {
    margin: auto;
    width: 95%;
    margin-top: 1em;
  }

  #news {
    display: block;
    float: left;
    width: 30%;
    margin: 0 5% 0 0;
  }

  #news h1 {
    padding: 3em 0 3em 0;
  }

  #events {
    display: block;
    float: left;
    width: 30%;
    margin: 0 5% 0 0;
  }

  #events h1 {
    padding: 3em 0 3em 0;
  }

  #videos {
    display: block;
    float: left;
    width: 30%;
  }

  #videos h1 {
    padding: 3em 0 3em 0;
  }

  .signup {
    margin: 2.5%;
  }

  #signup-text {
    width: 62%;
  }

  button {
    width: 10em;
  }
}

  /* Contact Page */
  
  form {
    text-align: center;
  }

  #name, #email {
    width: 65%;
    padding: 1em 0;
    margin: 1em 0;
    border-color: #000613;
  }

  #submit {
    width: 45%;
    background-color: #5E84D4;
    color: #000613;
    border: none;
    padding: 1.5em;
  }


/* Desktop View */

@media only screen and (min-width : 992px) {
  /* Navigation */

  .navigation-main {
    background-color: #5E84D4;
    position: absolute;
    width: 100%;
    top: 10em;  
  }

  .nav {
    width: 20em;
    margin: 0 auto;   
  }

  /* Top Branding */
  
  #logo {
    display: block;
    margin: auto;
    width: 10em;
  }

  .brand-img {
    padding-left: 13em;
    display: block;
    width: 25%;
    float: left;
  }

  .brand-text {
    display: block;
    width: 40%;
    float: left;
    padding: 2.7em 0 2.7em 0;
    font-size: 1.44em
  }
  
   /* Homepage */

  .info h1{
    display: block;
    margin: auto;
    width: 77%;
  }

  .clickable {
    width: 80%;
  }

  #news h1 {
    padding: 4.5em 0 4.5em 0;
  }

  #events h1 {
    padding: 4.5em 0 4.5em 0;
  }

  #videos h1 {
    padding: 4.5em 0 4.5em 0;
  }

  .signup {
    margin: auto;
    width: 77%;
  }

  footer {
    text-align: right;
  }
  
  /*Contact Page*/
  
  form {
    text-align: center;
    width: 60%;
    margin: 0 auto;
  }
  
  #form-heading {
    font-size: 1.44em; /*~31.7px*/
    line-height: 1.728em; /*~38.02*/
    margin: 2em 0;
  }
  
  #form-p {
    font-size: 1.2em; /*~26.4px*/
    line-height: 1.44em; /*~31.68px*/
    padding: 0 0 1em 0;
  }

  #name, #email {
    font-size: 1.2em; /*~26.4px*/
    line-height: 1.44em; /*~31.68px*/
    padding: 1em 0;
    margin: 1em 0;
    border-color: #000613;
  }

  #submit {
    background-color: #5E84D4;
    color: #000613;
    border: none;
    margin: 1em;
    padding: 0;
  }
}