/*1.2 ratio modular scale: https://www.modularscale.com/?22&px&1.2*/

/* Navigation */

.navigation-main {
  background-color: #5E84D4;
  position: absolute;
  width: 100%;
  top: 10em;
  left: 0;
}

.navigation-main li {
  float:left;
  width: 33.3%;
}
  
.navigation-main a {
  display: block;
  text-align: center;
  padding: 1em 0;
  text-decoration: none;
}
  
.navigation-main a:hover {
  background-color: #A2B3D8;
}
  
#currentsite {
  background-color: #0D50DF ;
}

/* Top Branding */

.branding-container {
  height: 10em;
  padding-bottom: 3em;
}

#logo {
  display: block;
  margin: auto;
  width: 10em;
}

/*About Page*/

.history h3 {
  font-weight: bold;
  padding-bottom: 16px;
}

.history  {
  text-align: center;
  padding: 2em 0;
}

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 15px;
  font-weight: bold;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #ccc;
}

.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.panel h3 {
  font-weight: bold;
  padding-bottom: 16px;
}

.panel p  {
  padding-bottom: 16px;
}

.panel {
  padding: 0 18px;
  background-color: #ccc;
  text-align: center;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.duJournal {
  height: 10em;
}

#duPoster {
  display: block;
  margin: auto;
  width: 18em;
  padding: 2em 0 1em 0;
}

.du-text {
  text-align: center;
  padding-bottom: 1em;
}

/*Contact Page*/

.contact_form_li {
  list-style: none;
}

form {
  text-align: center;
  width: 90%;
  margin: 0 auto;
}

#form-heading {
  font-size: 2.488em; /*~54.74px*/
  line-height: 2.986em; /*~65.7*/
  margin: 1em 0;
}

#form-p {
  font-size: 2.074em; /*~45.62px*/
  line-height: 2.488em; /*~54.74px*/
  padding: 0 0 1em 0;
}

#name, #email {
  font-size: 2.074em; /*~45.62px*/
  line-height: 2.488em; /*~54.74px*/
  width: 90%;
  padding: 2em 0;
  margin: 1.5em 0;
  border-color: #000613;
}

#submit {
  font-size: 2.074em; /*~45.62px*/
  line-height: 2.488em; /*~54.74px*/
  width: 70%;
  background-color: #5E84D4;
  color: #000613;
  border: none;
  margin: 2em;
}

/* Tablet View */

@media only screen and (min-width : 480px) {
  /*Contact Page*/
  
  form {
    text-align: center;
  }

  #name, #email {
    width: 65%;
    padding: 1em 0;
    margin: 1em 0;
    border-color: #000613;
  }

  #submit {
    width: 45%;
    background-color: #5E84D4;
    color: #000613;
    border: none;
    padding: 1.5em;
  }

}

/* Desktop View */

@media only screen and (min-width : 992px) {
  /* Navigation */

  .navigation-main {
    background-color: #5E84D4;
    position: absolute;
    width: 100%;
    top: 10em;  
  }

  .nav {
    width: 20em;
    margin: 0 auto;   
  }

  /* Top Branding */
  
  #logo {
    display: block;
    margin: auto;
    width: 10em;
  }

  .brand-img {
    padding-left: 13em;
    display: block;
    width: 25%;
    float: left;
  }

  .brand-text {
    display: block;
    width: 40%;
    float: left;
    padding-top: 4.5em;
    padding: 4.5em 0 4.5em 0;
  }
  
  /*Contact Page*/
  
  form {
    text-align: center;
    width: 60%;
    margin: 0 auto;
  }
  
  #form-heading {
    font-size: 1.44em; /*~31.7px*/
    line-height: 1.728em; /*~38.02*/
    margin: 2em 0;
  }
  
  #form-p {
    font-size: 1.2em; /*~26.4px*/
    line-height: 1.44em; /*~31.68px*/
    padding: 0 0 1em 0;
  }

  #name, #email {
    font-size: 1.2em; /*~26.4px*/
    line-height: 1.44em; /*~31.68px*/
    padding: 1em 0;
    margin: 1em 0;
    border-color: #000613;
  }

  #submit {
    background-color: #5E84D4;
    color: #000613;
    border: none;
    margin: 1em;
    padding: 0;
  }
  
}