/* Navigation */

.navigation-main {
  background-color: lightblue;
  position: absolute;
  width: 100%;
  top: 10em;
  left: 0;
}

.navigation-main li {
  float:left;
  width: 33.3%;
}
  
.navigation-main a {
  display: block;
  text-align: center;
  padding: 1em 0;
  text-decoration: none;
}
  
.navigation-main a:hover {
  background-color: grey;
}
  
#currentsite {
  background-color: lightskyblue;
}

/* Top Branding */

.branding-container {
  height: 10em;
  padding-bottom: 3em;
}

#logo {
  display: block;
  margin: auto;
  width: 10em;
}


/* Content */

.splide {
    margin: auto;
    margin-top: 0.5em;
    margin-bottom: 1em;
}

.info h1{
    margin: 1em;
    padding: 1em;
    text-align: center;
}

.clickable {
    margin: 1em;

}


#news h1 {
    background-color: palegoldenrod;
    text-align: center;
    padding: 2em;
    margin-bottom: 1em;
    color: black;
}

#news h1:hover {
    background-color: grey;
}

#events h1 {
    background-color:salmon;
    text-align: center;
    padding: 2em;
    margin-bottom: 1em;
    color: black;
}

#events h1:hover {
    background-color: grey;
}


#videos h1 {
    background-color:springgreen;
    text-align: center;
    padding: 2em;
    margin-bottom: 1em;
    color: black;
}

#videos h1:hover {
    background-color: grey;
}

.signup {
    clear:both;
    background-color: teal;
    padding:1em;
    margin: 1em;

}

#signup-text {
    text-align: center;
    display: block;
    width: 58%;
    float: left;
}

#signup-text h1 {
    padding: 1em 0 1em 0;
    color:white;
}

button {
    width: 10em;
    height: 3em;
}

footer {
    background-color: teal;
    margin-top: 2em;
    padding: 1.5em;
    text-align: center;
}

footer a {
    color:white;
    text-decoration: none;
    padding: 1em;
}

footer a:hover {
    background-color: grey;
}

a {
    text-decoration: none;
}

/* Tablet View */

@media only screen and (min-width : 480px) {

    .clickable {
        margin: auto;
        width: 95%;
        margin-top: 1em;
    }

    .signup {
        margin: 2.5%;
    }
    
    #news {
        display: block;
        float: left;
        width: 30%;
        margin: 0 5% 0 0;
    }
    
    #news h1 {
        padding: 3em 0 3em 0;
    }
    #events h1 {
        padding: 3em 0 3em 0;
    }
    #videos h1 {
        padding: 3em 0 3em 0;
    }
    #events {
        display: block;
        float: left;
        width: 30%;
        margin: 0 5% 0 0;
    }
    #videos {
        display: block;
        float: left;
        width: 30%;
    }

}

/* Desktop View */

@media only screen and (min-width : 992px) {
  /* Navigation */

  .navigation-main {
    background-color: lightblue;
    position: absolute;
    width: 100%;
    top: 10em;  
  }

  .nav {
    width: 20em;
    margin: 0 auto;   
  }

  /* Top Branding */
  
  #logo {
    display: block;
    margin: auto;
    width: 10em;
  }

  .brand-img {
    padding-left: 13em;
    display: block;
    width: 25%;
    float: left;
  }

  .brand-text {
    display: block;
    width: 40%;
    float: left;
    padding-top: 4.5em;
    padding: 4.5em 0 4.5em 0;
  }

  /* Content */

  .info h1{
    display: block;
    margin: auto;
    width: 77%;
}

#news h1 {
    padding: 6em 0 6em 0;
}
#events h1 {
    padding: 6em 0 6em 0;
}
#videos h1 {
    padding: 6em 0 6em 0;
}

.clickable {
    width: 80%;

}


.signup {
    margin: auto;
    width: 77%;
}

footer {
    text-align: right;
}
}